* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
.navbar {
   background-color: #ecf0f3 !important;
   padding: 25px 0;
}
.navbar .nav-item {
   padding: 0 10px;
}
.navbar .nav-link {
   color: #3c3e41;
   font-weight: 600;
}
.navbar .nav-link:hover {
   color: orangered;
}
.navbar .navbar-toggler {
   box-shadow: none;
   outline: none;
   border: none;
}
/* hero section  */

@media (max-width: 575.98px) {
   .offcanvas {
      width: 280px !important;
      /* height: 80vh; */
   }
}
