* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}
body{
   background-color: #ECF0F3;
}
/* navbar section */
.navbar {
   background-color: #ECF0F3;

   padding: 25px 0;
}
.navbar .nav-item {
   padding: 0 10px;
}
.navbar .nav-link {
   color: #3c3e41;
   font-weight: 600;
}
.navbar .nav-link:hover {
   color: #ff014f;
}
.offcanvas .nav-link:hover {
   color: #ff014f;
}
.navbar .navbar-toggler {
   box-shadow: none;
   outline: none;
   border: none;
}
/* hero section  */
.hero-section {
   width: 100%;
   height: 85vh;
   background-image: url(../img/hero-m.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   display: flex;
   align-items: center;
}
.hero-contain .hero-para {
   color: #3c3e41;
   font-size: 17px;
   line-height: 1.5;
   letter-spacing: 0.8px;
}
.hero-section .hero-title,
.typewrite {
   font-size: 50px;
   font-weight: 600;
}
.button {
   padding: 15px 35px;
   font-size: 16px;
   color: #ff014f;
   border: none;
   background-color: #fff;
   border-radius: 4px;
}
.button:hover {
   transform: scale(1.05);
   box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
/* special facilities section */
.title {
   color: #ff014f;
   font-size: 20px;
   letter-spacing: 2px;
}
.heading {
   font-size: 50px;
   color: #3c3e41;
   font-weight: 700;

}
.facilities .icon-box {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background-color: #E2E8EC;
}
.facilities .card {
   background-color: #EEF1F4;
   border: none;
   border-radius: 10px;
}
.facilities .fa-solid {
   color: #ff014f;
   font-size: 40px;
}
.facilities .card .card-title{
   font-size: 22px;
   font-weight: 700;
   color: #000;
}
.facilities .card .card-text {
   color: #3c3e41;
}





/* footer section */
.footer-top {
   background-color: #ECF0F3;
}
.footer-top .footer-icon {
   width: 32px;
   height: 32px;
   border: 1px solid #fff;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer-top .footer-icon .fa-brands {
   color: #3c3e41;
}
.footer-top .footer-icon:hover {
   background-color: #ecd7dd;
}
.footer-top .footer-title {
   color: #ff014f;
   padding-bottom: 16px;
}
.footer-top .nav-link {
   color: #3c3e41;
   font-size: 17px;
}
.footer-top .nav-link:hover {
   color: #ff014f;
   text-decoration: underline;
}
.footer-bottom {
   background-color: #ECF0F3;
   font-size: 17px;
   color: #3c3e41;
}
/* media query  */
@media (max-width: 575.98px) {
   .offcanvas {
      width: 280px !important;
   }
   .hero-contain .hero-para {
      font-size: 14px;
   }
   .hero-section .hero-title,
   .typewrite {
      font-size: 30px;
   }
   .heading {
   font-size: 30px;
   }
   .button{
      padding: 10px 10px;
   }
}
@media (min-width: 576px) {
   .hero-contain .hero-para {
      width: 90%;
   }
}
@media (min-width: 992px) {
   .hero-section {
      background-image: url(../img/3.jpg);
   }
}
@media (min-width: 576px) and (max-width: 991.98px) {
   .hero-section .hero-title,
   .typewrite {
      font-size: 50px;
   }
}
