* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
.navbar {
   background-color: #dfe9f1 !important;

   padding: 25px 0;
}
.navbar .nav-item {
   padding: 0 10px;
}
.navbar .nav-link {
   color: #3c3e41;
   color: #333;
   font-weight: 600;
}
.navbar .nav-link:hover {
   color: orangered;
}
.navbar .navbar-toggler {
   box-shadow: none;
   outline: none;
   border: none;
}
/* hero section  */
.hero-section {
   width: 100%;
   height: 85vh;
   background-image: url(../img/3.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
}

@media (max-width: 575.98px) {
   .offcanvas {
      width: 280px !important;
      /* height: 80vh; */
   }
}
